<div class="container sale">
  <div class="text-center py-4">
    <h1><i class="fas fa-arrow-down text-white mb-5"></i> All Reservations are Here <i class="fas fa-arrow-down text-white"></i></h1>
  </div>

  <div class="border p-4 col-md-6 mx-auto bg-blue-gradient bookings-card rounded-5">
    <% @bookings.each do |booking| %>
      <div class="mb-2 p-3 rounded-2 text-center">
        <p class="mb-1"><strong><span>Your Reservation:</span></strong> <%= booking.start_booking.strftime("%d %B %Y") %> - <%= booking.end_booking.strftime("%d %B %Y") %></p>
        <p class="mb-1"><strong><span>Your Booking Status:</span></strong> <%= booking.booking_status %></p>
        <div class="text-center mt-4">
          <%= link_to "Go into your reservation !", flying_saucer_booking_path(booking.flying_saucer, booking.id) %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="text-center m-5">
    <%= link_to "New Booking", new_flying_saucer_booking_path, class: "btn btn-primary" %>
  </div>
</div>
