<body>


			<div class="container d-flex justify-content-center">
				<div class="row">
					<div class="col-md-12">
						<h1 class="heading-section mb-4 mt-2 pb-md-4 title">UFO Rental</h1>
            <h2 class="heading-section mb-5 pb-md-4">Are you ready to enter in the Alienor Galaxy ?<br>
                                                    You can choose your planet to board the UFO that suits you <i class="fa-solid fa-ghost"></i></h2>
					</div>
					<div class="col-md-12">
						<div class="featured-carousel owl-carouse d-flex flex-row justify-content-center">
							<div class="item m-3">
								<div class="work">
									<div class="img d-flex align-items-center justify-content-center rounded">
                  <%= image_tag("home/planet_moon.png", alt: "planète Mars", width:"200") %>
										<%# <img src="images/mars.png" > <!-- class="icon d-flex align-items-center justify-content-center" --> %>
									</div>
									<div class="text pt-3 w-100 text-center">
										<h3>Mars</h3>
										<span>Alienor</span>
									</div>
								</div>
							</div>
							<div class="item m-3">
								<div class="work">
									<div class="img d-flex align-items-center justify-content-center rounded" >
									   <%= image_tag("home/planet_aurora.png", alt: "planète Jupiter", width:"250") %>
									</div>
									<div class="text pt-3 w-100 text-center">
										<h3>Jupiter</h3>
										<span>Alienor</span>
									</div>
								</div>
							</div>
							<div class="item m-3">
								<div class="work">
									<div class="img d-flex align-items-center justify-content-center rounded">
                      <%= image_tag("home/planet_earth.png", alt: "planète Terre", width:"300") %>
									</div>
									<div class="text pt-3 w-100 text-center">
										<h3>Planet Earth</h3>
										<span>Alienor</span>
									</div>
								</div>
							</div>
							<div class="item m-3">
								<div class="work">
									<div class="img d-flex align-items-center justify-content-center rounded">
                      <%= image_tag("home/planet_venus.png", alt: "planète Venus", width:"250") %>
									</div>
									<div class="text pt-3 w-100 text-center">
										<h3>Venus</h3>
										<span>Alienor</span>
									</div>
								</div>
							</div>
							<div class="item m-3">
								<div class="work">
									<div class="img d-flex align-items-center justify-content-center rounded">
                    <%= image_tag("home/planet_solar.png", alt: "Galaxy", width:"200") %>
									</div>
									<div class="text pt-3 w-100 text-center">
										<h3>Venus</h3>
										<span>Alienor</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
      <div class="button-fixed">
          <button class="btn btn-success font-weight-bold">
          <a href="new_user_session_path">Enter to the Alien World <i class="fa-solid fa-rocket"></i></a>
        </button>
      </div>
  </body>
