<h1>Discover Flying Saucers</h1>
<%# We still have to change the images %>
<div class="container">
  <div class="row flyingsaucers-list" data-controller="flyingsaucers-list">
    <% @flying_saucers.each do |saucer| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <% if saucer.image.present? %>
            <%= cl_image_tag(saucer.image.key, alt: "NA", class: "card-img-top") %>
          <% else %>
            <!-- Handle case where image is missing -->
            <%= image_tag("default_image.jpg", alt: "Default Image", class: "card-img-top") %>
          <% end %>
          <div class="card-body">
            <h2 class="card-title"><%= saucer.brand %></h2>
            <p class="card-text"><%= saucer.description %></p>
            <%= link_to 'Deep dive', flying_saucer_path(saucer), class: 'btn btn-primary mt-3' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
